@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

.SupervisorHome {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  font-size: 20px;
}

.SupervisorHome > .leftSidebar {
  flex-basis: 16em;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  background: white;
}

.SupervisorHome > .leftSidebar > .nav-link {
  height: 3em;
  line-height: 2em;
  width: auto;

  border-radius: 0;
}

.SupervisorHome > .rightPanel {
  padding: 1em;

  flex-grow: 1;
}

.StaffHome {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  font-size: 20px;
}

.StaffHome > .leftSidebar {
  flex-basis: 16em;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  background: white;
}

.StaffHome > .leftSidebar > .nav-link {
  height: 3em;
  line-height: 2em;
  width: auto;

  border-radius: 0;
}

.StaffHome > .rightPanel {
  padding: 1em;

  flex-grow: 1;
}

.nav-link {
  color: black;
}

.active {
  background-color: #57886c !important;
}
